<div class="container">
    <div class="birthdayCard" [class.opened]="isOpened" (click)="toggleCard()">
        <div class="cardFront">
            <h3 class="happy">Di chuột vô đây!!!</h3>
            <div class="balloons">
            <div class="balloonOne"></div>
            <div class="balloonTwo"></div>
            <div class="balloonThree"></div>
            <div class="balloonFour"></div>
            </div>
        </div>

        <div class="cardInside">
            <p>Gửi em Chip iu của anh,</p>
            <p>
            Hum nay là ngày kỉ niệm 4 tháng iu nhau, nãy anh pảo anh cóa một bất ngờ nho nhỏ cho em và đâyy nè!!!
            Để chúc mừng cho một milestone mới trong mối quan hệ của chúng mình đó chính là hơn một tháng tụi mình yêu xa, anh muốn làm gì
            đó đặc biệt và đó chính là viết em bức thiệp online bằng trang web anh tự làm nì. 😋
            </p>
            <p>
                Thời gian qua tụi mình đã phải trải qua rất nhìu thăng trầm và thử thách, có nhiều lúc anh đã làm Chip buồn 🥺 nhưng
                Chip vẫn thương anh, vẫn đặt trong đó nhiều hi vọng ở anh và cho cơ hội anh được làm tốt hơn. Anh thật sự rất trân trọng
                em nhỏ vì điều đó thế cho nên anh đã ngẫm lại những mong muốn của em để anh có thể thay đổi tốt hơn vì chúng mình.
                Chip hãy cứ tin ở chồng nhéeee 🥺
            </p>
            <p>
                Anh rất trân trọng một tháng qua vì tụi mình đã không màng khoảng cách địa lý mà vẫn luôn cố gắng vun đắp cho mối quan hệ này.
                Dù ở xa nhưng anh vẫn cảm nhận được sự hiện diện của em ở bên, một phần vì bản thân anh nhớ em rất nhiều mỗi khi anh đi ở HN này,
                một phần vì em vẫn có rất nhiều cách để quan tâm tới anh🥺 Bọn mình vẫn vui như ngày nào cho nên anh mong bọn mình vẫn sẽ mãi iu nhauu thế!
            </p>
            <p>
                Anh yêu Chip nhìuuu 💗
            </p>
            <p class="name" style="text-align: center;">Hà Nội, 8.10.2025
                <br/>
                <span>Anh Bách</span>
            </p>
        </div>
    </div>
</div>

